<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

    <display-name>Web scraping app</display-name>

    <!-- Servlet definition -->
    <servlet>
        <servlet-name>ScrapeServlet</servlet-name>
        <servlet-class>ScrapeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Servlet mapping -->
    <servlet-mapping>
        <servlet-name>ScrapeServlet</servlet-name>
        <url-pattern>/scrape</url-pattern>
    </servlet-mapping>

    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
